.features {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 50px 20px 60px;

 text-align: center;

 background-color: $base-white;
}

.features__title {
  margin: 0 0 36px;

  font-size: $h2-mobile-size;
  line-height: $h2-mobile-line-height;
  font-weight: 700;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding: 66px 0 0;
  &:not(:last-child) {
    margin: 0 0 32px;
  }
}

.features__item-title {
  position: relative;
  
  margin: 0 0 4px;

  font-size: $h3-mobile-size;
  line-height: $h3-mobile-line-height;
  font-weight: 700;

  &::before { 
    content: "";
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);

    width: 52px;
    height: 56px;
  }
  
  &--speed::before {
    background-image: url("../../images/icons/stack.svg#speed-icon");
  }

  &--comfort::before {
    background-image: url("../../images/icons/stack.svg#comfort-icon");
  } 
  
  &--cheer::before {
    background-image: url("../../images/icons/stack.svg#cheer-icon");
  } 
  
  &--eco::before {
    background-image: url("../../images/icons/stack.svg#eco-icon");
  } 
}

.features__text {
  margin: 0;
}