.page {
  display: flex;
  min-width: 320px;
  width: 320px;
  width: 100%;
  min-height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  min-height: 100%;
  margin: 0 auto;

  font-family: $main-font;
  font-weight: 400;
  font-size: $text-mobile-size;
  line-height: $text-mobile-line-height;
  color: $base-black;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    font-size: $text-tablet-size;
    line-height: $text-tablet-line-height;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-main {
  flex-grow: 1;
  height: 100%;
}

