.pagination {
  display: flex;
  gap: 20px;

  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 15px;

  background-color: $base-white;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;
    mask-image: url("../../images/icons/stack.svg#arrow");
    background-color: $base-primary;
  }

  &--next {
    &::before {
      transform: rotate(180deg) translate(50%, 50%);
    }
  }

  &:hover::before,
  &:focus::before,
  &:active::before,
  &:disabled::before {
    background-color: $base-white;
  }

  &:hover .pagination__button-text,
  &:focus .pagination__button-text,
  &:active .pagination__button-text,
  &:disabled .pagination__button-text {
    color: $base-white;
    fill: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
  }

  @media (min-width: $tablet-width) {
    width: unset;
    padding: 8px 20px;

    &--next {
      transform: none;
    }
  }
}

.pagination__button-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__button-text {
  display: none;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 8px;

  text-decoration: none;
  color: $base-primary;

  background-color: $base-white;

  &--current {
    color: $base-black;
    background-color: transparent;
  }

  &--disabled {
    background-color: $light-grey;
  }
}
