.pagination {
  display: flex;
  gap: 20px;

  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
  }
}

.pagination__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 15px;

  background-color: $base-white;

  .pagination__button-icon {
    fill: $base-primary;
  }

  &--next {
    transform: rotate(180deg);
  }

  &:hover .pagination__button-icon,
  &:focus .pagination__button-icon,
  &:active .pagination__button-icon,
  &:disabled .pagination__button-icon {
    fill: $base-white;
  }

  &:hover .pagination__button-text,
  &:focus .pagination__button-text,
  &:active .pagination__button-text,
  &:disabled .pagination__button-text {
    color: $base-white;
    fill: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
  }

  @media (min-width: $tablet-width) {
    width: unset;
    padding: 8px 20px;
    &--next {
      transform: none;
    }
  }

  @media (min-width: $desktop-width) {
  }
}

.pagination__button-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__button-text {
  display: none;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 8px;

  text-decoration: none;
  color: $base-primary;

  background-color: $base-white;

  &--current {
    color: $base-black;
    background-color: transparent;
  }

  &--disabled {
    background-color: $light-grey;
  }
}
