.product-slider {
  position: relative;

  display: flex;
  justify-content: center;
  padding: 20px 20px 60px;
  background-color: $flat-white; //change due to the slider

  @media (min-width: $tablet-width) {
    min-height: 640px;
    margin: 0 0 188px;
    padding: 60px 20px 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    padding: 30px 40px 60px;
  }
}

.product-slider__button { // slider-button-prev
  position: absolute;
  top: 0;

  width: 20px;
  height: 100%;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20px;
    height: 20px;

    background-image: url("../../images/icons/stack.svg#arrow");
  }

  &--prev {
    left: 0;
    // СОСТОЯНИЯ КНОПКИ
    &:hover {
      outline: none;
      background: linear-gradient(to right, $base-white 10%, transparent);
    }

    &:focus {
      outline: none;
      background: linear-gradient(to right, $base-white 10%, transparent);
    }

    &:focus-visible {
      outline: none;
      background: linear-gradient(to right, $base-white 10%, transparent);
    }

    &:active {
      outline: none;
      background: linear-gradient(to right, $base-primary -250%, transparent);
    }
  }

  &--next {
    right: 0;

    &::before {
      transform: rotate(180deg);
    }

    // СОСТОЯНИЯ КНОПКИ
    &:hover {
      outline: none;
      background: linear-gradient(to left, $base-white 10%, transparent);
    }

    &:focus {
      outline: none;
      background: linear-gradient(to left, $base-white 10%, transparent);
    }

    &:focus-visible {
      outline: none;
      background: linear-gradient(to left, $base-white 10%, transparent);
    }

    &:active {
      outline: none;
      background: linear-gradient(to left, $base-primary -250%, transparent);
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
  }
}

.product-slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.product-slider__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 352px;
    left: 50%;
    transform: translate(-50%);
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    transform: none;
    width: 600px;
    height: 600px;
    margin: 0 30px 0 65px;
  }
}

.product-slider__info-wrapper {
  @media (min-width: $tablet-width) {
    align-content: flex-start;
    justify-content: flex-start;
    width: 608px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.product-slider__title {
  margin: 0 0 10px;

  font-size: $h1-mobile-size;
  line-height: $h1-mobile-line-height;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px;

    font-size: $h1-tablet-size;
    line-height: $h1-tablet-line-height;
  }

  @media (min-width: $desktop-width) {
    font-size: $h1-tablet-size;
    line-height: $h1-tablet-line-height;
    text-align: center;
  }
}

.product-slider__text {
  margin: 0 0 20px;

  font-size: $slider-text-mobile-size;
  line-height: $slider-text-mobile-line-height;

  @media (min-width: $tablet-width) {
    font-size: $slider-text-tablet-size;
    line-height: $slider-text-tablet-line-height;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;

    font-size: $slider-text-tablet-size;
    line-height: $slider-text-tablet-line-height;
    text-align: center;
  }
}

.product-slider__old-price {
  font-size: $old-price-size;
  line-height: $price-line-height;
  color: $base-primary;
}

.product-slider__new-price {
  margin: 0 20px 0 6px;
  font-size: $price-size;
  line-height: $price-line-height;
  font-weight: 700;
}

.product-slider__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

